<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">     
	<head>     
		<meta charset="UTF-8">     
		<base th:href="@{/}"><!-- popuni href atribut vrednosšću context path-a -->
		<script src="webjars/jquery/3.2.1/jquery.min.js"></script>
	<script src="webjars/jquery-ui/1.12.1/jquery-ui.min.js"></script>
	<script src="js/lokacijaJS.js"></script>
		<title>Početna</title>     
		<link rel="stylesheet"  type="text/css"  href="css/StiloviTabela.css"/>     
	 	<link rel="stylesheet"  type="text/css" href="css/StiloviHorizontalniMeni.css"/>   
	 </head>  
	 <header>
	 <div style="float:right">
		<span th:text="${#locale}"></span>
		<span th:text="#{lang.change}"></span>:
		<select id="locales" name="locales">
		    <option value=""></option>
		    <option value="en" th:text="#{lang.eng}" th:selected="${#strings.equals(#locale.language,'en')}"></option>
		    <option value="sr" th:text="#{lang.sr}" th:selected="${#strings.equals(#locale.language,'sr')}"></option>
		</select>
	</div>  
	</header>     
	 <body>
	 <div th:if="${session.korisnik.uloga.name() =='clan' }">
	 	<ul>     
	 		<li><a href="trening" th:text="#{links.home}"></a></li>  
	 		<li><a href="termin/sviTermini" th:text="#{links.termins}"></a></li>
	 		<li><a href="trening/sviTreninzi" th:text="#{links.trainings}"></a></li>
	 		<li><a href="listaZelja" th:text="#{links.wishes}"></a></li>
	 		<li><a href="korpa/dodatiTermini" th:text="#{links.shoppingChart}"></a></li> 
	 		<li><a href="clanskaKartica/clanskaKartaKorisnik" th:text="#{links.card}"></a></li>
	 		<li><a href="korisnici/podesavanja" th:text="#{links.settings}"></a></li>           
	 		<li><a href="korisnici/odjava" th:text="#{links.logOut}"></a></li>          
	 	</ul> 
	 </div> 
	 <form method="get">    
	 		<table>     
	 			<caption th:text="#{table.cards}"></caption>     
	 			<tr>     
	 				  
	 				<th>ID</th>     
	 				<th th:text="#{table.discount}"></th>     
	 				<th th:text="#{table.points}"></th>
	 				<th th:text="#{table.user}"></th>     
	 				<th th:text="#{table.accepted}"></th>     
	 				<th th:text="#{table.used}"></th>  
	 				   
	 			</tr>
	 			<tr th:each="karta, status: ${karte}" th:if="${karta.korisnik.id == session.korisnik.id }">        <!-- th:if="${zelja.korisnik.id == session.korisnik.id }"-->   
	 				<td class="broj" th:text="${(status.index + 1)+'.'}"></td>     
	 				<td th:text="${karta.popust}"></td>    
	 				<td th:text="${karta.brojPoena}"></td>
	 				<td th:text="${karta.korisnik.ime}"></td>    
	 				<td th:text="${karta.prihvacen}"></td>
	 				<td th:text="${karta.iskoriscena}"></td>    
	 			</tr>
	 		</table>
	 		</form>	
	 		<ul>     
	 		<li><a href="clanskaKartica/novaKartica" th:text="#{add.card}">Apliciraj za novu karticu</a></li>       
	 	</ul>
	 </body>   
 </html>