<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">     
	<head>     
		<meta charset="UTF-8">     
		<base th:href="@{/}"><!-- popuni href atribut vrednosšću context path-a -->
		<script src="webjars/jquery/3.2.1/jquery.min.js"></script>
	<script src="webjars/jquery-ui/1.12.1/jquery-ui.min.js"></script>
	<script src="js/lokacijaJS.js"></script>
		<title>Početna</title>     
		<link rel="stylesheet"  type="text/css"  href="css/StiloviTabela.css"/>     
	 	<link rel="stylesheet"  type="text/css" href="css/StiloviHorizontalniMeni.css"/>   
	 </head>  
	 <header>
	 <div style="float:right">
		<span th:text="${#locale}"></span>
		<span th:text="#{lang.change}"></span>:
		<select id="locales" name="locales">
		    <option value=""></option>
		    <option value="en" th:text="#{lang.eng}" th:selected="${#strings.equals(#locale.language,'en')}"></option>
		    <option value="sr" th:text="#{lang.sr}" th:selected="${#strings.equals(#locale.language,'sr')}"></option>
		</select>
	</div>  
	</header> 
	 <body> 
	 <p th:text="${session.korisnik.ime}">Ime Prezime</p>  
	 <div th:if="${session.korisnik.uloga.name() =='admin'}">
	 	<ul>     
	 		<li><a href="trening" th:text="#{links.home}"></a></li>     
	 		<li><a href="korisnici/sviKorisnici" th:text="#{links.users}"></a></li>
	 		<li><a href="termin/terminiAdmin" th:text="#{links.termins}"></a></li> 
	 		<li><a href="trening/treninziAdmin" th:text="#{links.trainings}"></a></li>
	 		<li><a href="tipoviTreninga" th:text="#{links.trainingType}"></a></li> 
	 		<li><a href="clanskaKartica/sveKartice" th:text="#{links.card}"></a></li>  
	 		<li><a href="sale" th:text="#{links.room}">Sale</a></li>
	 		<li><a href="sviKomentariAdmin.html" th:text="#{links.comment}"></a></li>  
	 		<li><a href="specijalniDatum/dodavanje" th:text="#{links.specialDate}"></a></li> 
	 		<li><a href="izvjestaj" th:text="#{links.report}"></a></li>
	 		<li><a href="korisnici/odjava" th:text="#{links.logOut}"></a></li>     
	 	</ul> 
	 </div>
	 <div th:if="${session.korisnik.uloga.name() =='clan' }">
	 	<ul>     
	 		<li><a href="trening">Početna</a></li>  
	 		<li><a href="termin/sviTermini">Slobodni termini</a></li>
	 		<li><a href="trening/sviTreninzi">Svi treninzi</a></li>
	 		<li><a href="listaZelja">Lista želja</a></li>
	 		<li><a href="korpa/dodatiTermini">Korpa</a></li> 
	 		<li><a href="clanskaKartica/clanskaKartaKorisnik">Loyality kartica</a></li>
	 		<li><a href="korisnici/podesavanja">Podešavanja</a></li>           
	 		<li><a href="korisnici/odjava">Odjava</a></li>          
	 	</ul> 
	 </div>   
	<form method="post" action="korisnici/izmjenaKorisnika">
		<input type="hidden" name="id" th:value="${korisnik.id}"/>
		<table class="forma">
			<caption>Informacije o korisniku:</caption>
			<tr><th th:text="#{table.name}">Ime:</th><td><input type="text" th:value="${korisnik.ime}" name="ime" required/></td></tr>
			<tr><th th:text="#{table.surname}">Prezime:</th><td><input type="text" th:value="${korisnik.prezime}" name="prezime" required/></td></tr>
			<tr><th th:text="#{table.userName}">Korisnicko ime:</th><td><input type="text" th:value="${korisnik.korisnickoIme}" name="korisnickoIme" required/></td></tr>
			<tr><th th:text="#{table.role}">Uloga:</th><td>
			<p th:text="${korisnik.uloga}"></p>
 			<select name="uloga">
 			<option value="admin"> Admin </option>
 			<option value="clan"> Član </option>
 			</select>
 			</td></tr>
			
			<tr><th th:text="#{table.newPassword}">Nova lozinka:</th><td><input type="text" name="prvaLozinka"/></td></tr>
			<tr><th th:text="#{table.repeatPassword}">Ponovi lozinku:</th><td><input type="text" name="drugaLozinka"/></td></tr>
			<tr><th></th>
			<td>
	 		<input type="submit" value="Izmeni"/>
			</td>

			</tr>
		</table>
	</form>
</body>
</html>