<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">     
	<head>     
		<meta charset="UTF-8">     
		<base th:href="@{/}"><!-- popuni href atribut vrednosšću context path-a -->
		<script src="webjars/jquery/3.2.1/jquery.min.js"></script>
		<script src="webjars/jquery-ui/1.12.1/jquery-ui.min.js"></script>
		<script src="js/lokacijaJS.js"></script>
		<title>Korisnici</title>     
		<link rel="stylesheet"  type="text/css"  href="css/StiloviTabela.css"/>     
	 	<link rel="stylesheet"  type="text/css" href="css/StiloviHorizontalniMeni.css"/>   
	 </head> 
	 <header>
	 <div style="float:right">
		<span th:text="${#locale}"></span>
		<span th:text="#{lang.change}"></span>:
		<select id="locales" name="locales">
		    <option value=""></option>
		    <option value="en" th:text="#{lang.eng}" th:selected="${#strings.equals(#locale.language,'en')}"></option>
		    <option value="sr" th:text="#{lang.sr}" th:selected="${#strings.equals(#locale.language,'sr')}"></option>
		</select>
	</div>  
	</header>    
	 <body>
	 <div th:if="${session.korisnik.uloga.name() =='admin' }">
	 	<ul>     
	 		<li><a href="trening" th:text="#{links.home}"></a></li>     
	 		<li><a href="korisnici/sviKorisnici" th:text="#{links.users}"></a></li>
	 		<li><a href="termin/terminiAdmin" th:text="#{links.termins}"></a></li> 
	 		<li><a href="trening/treninziAdmin" th:text="#{links.trainings}"></a></li>
	 		<li><a href="tipoviTreninga" th:text="#{links.trainingType}"></a></li> 
	 		<li><a href="clanskaKartica/sveKartice" th:text="#{links.card}"></a></li>  
	 		<li><a href="sale" th:text="#{links.room}">Sale</a></li>
	 		<li><a href="sviKomentariAdmin.html" th:text="#{links.comment}"></a></li>  
	 		<li><a href="specijalniDatum/dodavanje" th:text="#{links.specialDate}"></a></li> 
	 		<li><a href="izvjestaj" th:text="#{links.report}"></a></li>
	 		<li><a href="korisnici/odjava" th:text="#{links.logOut}"></a></li>     
	 	</ul> 
	 </div>  
	 <form method="get">    
	 		<table>     
	 			<caption th:text="#{table.allUsers}"></caption>     
	 			<tr>     
	 				<th>ID</th>     
	 				<th th:text="#{table.userName}"> </th>     
	 				<th th:text="#{table.email}"></th>     
	 				<th th:text="#{table.name}"></th>
	 				<th th:text="#{table.surname}"></th>
	 				<th th:text="#{table.dateOfBirth}"> </th>  
	 				<th th:text="#{table.address}"></th>   
	 				<th th:text="#{table.mobileNumber}"> </th>
	 				<th th:text="#{table.dateOfRegistration}"> </th>
	 				<th th:text="#{table.role}"></th>
	 				<th th:text="#{table.blocked}"></th>
	 				<th></th>    
	 			</tr>
	 			
	 			<tr>
					<th></th>
					<th><input type="search" name="korisnickoIme" th:value="${param.korisnickoIme}?: null"/></th>
					<th><input type="search" name="email" th:value="${param.email}?: null"/></th>
					<th><input type="search" name="ime" th:value="${param.ime}?: null"/></th>
					<th><input type="search" name="prezime" th:value="${param.prezime}?: null"/></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
						<th></th>
						<th></th>
					
					<th><input type="submit" value="Pretraži"/></th>
				</tr>
	 			
	 			<tr th:each="korisnik, status: ${korisnici}">  
	 			     <!--  th:if="${tremin.korisnik == null }" -->   
	 			     
	 				<td th:text="${korisnik.id}"></td>
	 				<td ><a th:href="|korisnici/izmjena?id=${korisnik.id}|" th:text="${korisnik.korisnickoIme}"></a></td> 
	 				<td th:text="${korisnik.email}"></td>  
	 				<td th:text="${korisnik.ime}"></td>
	 				<td th:text="${korisnik.prezime}"></td>    
	 				<td th:text="${korisnik.datumRodjenja}"></td>
	 				<td th:text="${korisnik.adresa}"></td>
	 				<td th:text="${korisnik.brojTelefona}"></td>
	 				<td th:text="${korisnik.datumIVrijemeRegistracije}"></td>
	 				<td th:text="${korisnik.uloga}"></td>
	 				<td th:text="${korisnik.blokiran}"></td>
	 				<td th:if="${korisnik.blokiran == false and korisnik.uloga.name == 'clan'}"><a th:href="|korisnici/blokiraj?id=${korisnik.id}|">Blokiraj</a></td>
	 				<td th:if="${korisnik.blokiran == true and korisnik.uloga.name == 'clan'}"><a th:href="|korisnici/odblokiraj?id=${korisnik.id}|">Odblokiraj</a></td>  
	 			</tr>
	 		</table>
	 		</form>
	 </body>   
 </html>