<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">     
	<head>     
		<meta charset="UTF-8">     
		<base th:href="@{/}"><!-- popuni href atribut vrednosšću context path-a -->
		<script src="webjars/jquery/3.2.1/jquery.min.js"></script>
	<script src="webjars/jquery-ui/1.12.1/jquery-ui.min.js"></script>
	<script src="js/lokacijaJS.js"></script>
		<title>Korpa</title>     
		<link rel="stylesheet"  type="text/css"  href="css/StiloviTabela.css"/>     
	 	<link rel="stylesheet"  type="text/css" href="css/StiloviHorizontalniMeni.css"/>   
	 </head>  
	 <header>
	 <div style="float:right">
		<span th:text="${#locale}"></span>
		<span th:text="#{lang.change}"></span>:
		<select id="locales" name="locales">
		    <option value=""></option>
		    <option value="en" th:text="#{lang.eng}" th:selected="${#strings.equals(#locale.language,'en')}"></option>
		    <option value="sr" th:text="#{lang.sr}" th:selected="${#strings.equals(#locale.language,'sr')}"></option>
		</select>
	</div>  
	</header>    
	 <body>
	 <div th:if="${session.korisnik.uloga.name() =='clan' }">
	 	<ul>     
	 		<li><a href="trening" th:text="#{links.home}"></a></li>  
	 		<li><a href="termin/sviTermini" th:text="#{links.termins}"></a></li>
	 		<li><a href="trening/sviTreninzi" th:text="#{links.trainings}"></a></li>
	 		<li><a href="listaZelja" th:text="#{links.wishes}"></a></li>
	 		<li><a href="korpa/dodatiTermini" th:text="#{links.shoppingChart}"></a></li> 
	 		<li><a href="clanskaKartica/clanskaKartaKorisnik" th:text="#{links.card}"></a></li>
	 		<li><a href="korisnici/podesavanja" th:text="#{links.settings}"></a></li>           
	 		<li><a href="korisnici/odjava" th:text="#{links.logOut}"></a></li>          
	 	</ul> 
	 </div>   
	 <form action="korpa/kupi">   
	 		<input type="hidden" name="cijena" th:value="${cijena}"/><!-- popuni value atribut vrednošću -->
	 		<input type="hidden" name="clanskaKartaId" th:value="${karta.id}"/><!-- popuni value atribut vrednošću -->
	  
	 		<table>     
	 			<caption>Trenutno aktivni termini</caption>     
	 			<tr>     
	 				 
	 				
	 				<th>ID</th>     
	 				<th th:text="#{links.room}"></th>     
	 				<th th:text="#{table.traning}"></th>
	 				<th th:text="#{table.user}"></th>
	 				<th th:text="#{table.date}"></th>     
	 				<th></th>   
	 			</tr>
	 			<tr>
					<th></th>
					<th><input type="search" name="naziv" th:value="${param.naziv}?: null"/></th>
					<th><input type="search" name="trener" th:value="${param.trener}?: null"/></th>
					<th></th>
					<th></th>
					<th><input type="submit" value="Pretraži"/></th>
				</tr>
	 			<tr th:each="tremin, status: ${session.korpa}">  
	 			     
	 				<td th:text="${tremin.id}"></td>     
	 				<td th:text="${tremin.sala.oznaka}"></td>
	 				<td th:text="${tremin.trening.naziv}"></td>    
	 				<td th:text="${tremin.korisnik.ime}"></td>    
	 				<td th:text="${tremin.datumIVrijemeTreninga}"></td>
	 				<td> 
	 				<a th:href="|korpa/ukloni?id=${tremin.id}|">Ukloni</a>
					</td>
	 			</tr>
	 			<tr>  
	 			     
	 				<th th:text="#{table.totalPrice}">Ukupna cijena:</th>     
	 				<td th:text="${cijena}"></td>
	 				
	 			</tr>
	 			<tr th:if="${karta != null }">  
	 			     
	 				<th th:text="#{table.discount}">Popust na clansku kartu:</th>     
	 				<td><input type="checkbox" name="iskoristiClanskuKartu" th:checked="false">Iskoristi clansku kartu</input></td>
	 				
	 			</tr>
	 			<tr>  
	 			     
	 				<th><input type="submit" value="Rezerviši termine"></th>     
	 				
	 			</tr>
	 		</table>
	 		</form>
	 		
	 		
	 		
	 </body>   
 </html>