<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}"><!-- popuni href atribut vrednosšću context path-a -->
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	 	<script src="webjars/jquery/3.2.1/jquery.js" type="text/javascript"></script>
		<script src="webjars/jquery-ui/1.12.1/jquery-ui.min.js"></script>
		<script src="js/dodavanjeKomentara.js" type="text/javascript"></script>
	
	<title>Knjiga</title>
</head>
<body>
>
	 	<ul>     
	 		<li><a href="trening">Početna</a></li>  
	 		<li><a href="termin/sviTermini">Slobodni termini</a></li>
	 		<li><a href="trening/sviTreninzi">Svi treninzi</a></li>
	 		<li><a href="listaZelja">Lista želja</a></li>
	 		<li><a href="korpa/dodatiTermini">Korpa</a></li> 
	 		<li><a href="clanskaKartica/clanskaKartaKorisnik">Loyality kartica</a></li>
	 		<li><a href="korisnici/podesavanja">Podešavanja</a></li>           
	 		<li><a href="korisnici/odjava">Odjava</a></li>          
	 	</ul>  
	 </div>   
	<form method="post" action="komentar/dodaj">
		<input type="hidden" name="treningId" th:value="${trening.id}"/><!-- popuni value atribut vrednošću -->
		<table class="forma">
			<caption>Novi komentar</caption>
			<tr><th>Komentar:</th><td><input type="text" name="komentar"/></td></tr>
			<tr><th>Ocjena:</th><td><input type="number" name="ocjena"/></td></tr>
			<tr><th>Anoniman:</th><td><input type="checkbox" name="anoniman"/></td></tr>
			<tr><th></th>
			<td>
			<div>     
	 		<input type="submit" value="Dodaj komentar"/>
	 </div>
			</td>

			</tr>
		</table>
	</form>
	

</body>
</html>