<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">     
	<head>     
		<meta charset="UTF-8">     
		<base th:href="@{/}"><!-- popuni href atribut vrednosšću context path-a -->
		<script src="webjars/jquery/3.2.1/jquery.min.js"></script>
	<script src="webjars/jquery-ui/1.12.1/jquery-ui.min.js"></script>
	<script src="js/lokacijaJS.js"></script>
		<title>Početna</title>     
		<link rel="stylesheet"  type="text/css"  href="css/StiloviTabela.css"/>     
	 	<link rel="stylesheet"  type="text/css" href="css/StiloviHorizontalniMeni.css"/>   
	 </head>  
	 <header>
	 <div style="float:right">
		<span th:text="${#locale}"></span>
		<span th:text="#{lang.change}"></span>:
		<select id="locales" name="locales">
		    <option value=""></option>
		    <option value="en" th:text="#{lang.eng}" th:selected="${#strings.equals(#locale.language,'en')}"></option>
		    <option value="sr" th:text="#{lang.sr}" th:selected="${#strings.equals(#locale.language,'sr')}"></option>
		</select>
	</div>  
	</header> 
	 <body> 
	 <p th:text="${session.korisnik.ime}">Ime Prezime</p>  
	 <div th:if="${session.korisnik.uloga.name() =='admin'}">
	 	<ul>     
	 		<li><a href="trening" th:text="#{links.home}"></a></li>     
	 		<li><a href="korisnici/sviKorisnici" th:text="#{links.users}"></a></li>
	 		<li><a href="termin/terminiAdmin" th:text="#{links.termins}"></a></li> 
	 		<li><a href="trening/treninziAdmin" th:text="#{links.trainings}"></a></li>
	 		<li><a href="tipoviTreninga" th:text="#{links.trainingType}"></a></li> 
	 		<li><a href="clanskaKartica/sveKartice" th:text="#{links.card}"></a></li>  
	 		<li><a href="sale" th:text="#{links.room}">Sale</a></li>
	 		<li><a href="sviKomentariAdmin.html" th:text="#{links.comment}"></a></li>  
	 		<li><a href="specijalniDatum/dodavanje" th:text="#{links.specialDate}"></a></li> 
	 		<li><a href="izvjestaj" th:text="#{links.report}"></a></li>
	 		<li><a href="korisnici/odjava" th:text="#{links.logOut}"></a></li>     
	 	</ul> 
	 </div>
	 <form method="get">    
	 		<table>     
	 			<caption>Sve sale</caption>     
	 			<tr>     
	 				<th>ID</th>     
	 				<th th:text="#{table.name}"></th>     
	 				<th th:text="#{table.capcity}"></th>     
	 				<th th:text="#{table.full}"></th>
	 				<th th:text="#{table.active}"></th>
	 				<th></th>
	 				
	 			</tr>
	 			
	 			<tr>
					<th></th>
					<th><input type="search" name="oznaka" th:value="${param.oznaka}?: null"/></th>
					<th><input type="number" name="kapacitet" th:value="${param.kapacitet}?: null"/></th>
					<th></th>
					<th></th>
					
						
					
					<th><input type="submit" value="Pretraži"/></th>
				</tr>
	 			
	 			<tr th:each="sala, status: ${sale}"  th:if="${sala.aktivan == true }">  
	 			     <!--  th:if="${tremin.korisnik == null }" -->   
	 			     
	 			     <td th:text="${sala.id}"></td>  
	 				<td ><a th:href="|sale/izmjena?id=${sala.id}|" th:text="${sala.oznaka}"></a></td> 
	 				<td th:text="${sala.kapacitet}"></td> 
	 				<td th:text="${sala.popunjen}"></td>
	 				<td th:text="${sala.aktivan}"></td>    
	 				<td><a th:href="|sale/izbrisi?id=${sala.id}|" th:text="#{table.remove}"></a></td>
	 	 			</tr>
	 		</table>
	 		</form>
	 		<ul>     
	 		<li><a href="sale/dodajSalu" th:text="#{add.room}"></a></li>     
	 	</ul>
	 </body>   
 </html>