<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">     
	<head>     
		<meta charset="UTF-8">     
		<base th:href="@{/}"><!-- popuni href atribut vrednosšću context path-a -->
		<script src="webjars/jquery/3.2.1/jquery.min.js"></script>
	<script src="webjars/jquery-ui/1.12.1/jquery-ui.min.js"></script>
	<script src="js/lokacijaJS.js"></script>
		<title>Slobodni termini</title>     
		<link rel="stylesheet"  type="text/css"  href="css/StiloviTabela.css"/>     
	 	<link rel="stylesheet"  type="text/css" href="css/StiloviHorizontalniMeni.css"/>   
	 </head>  
	 <header>
	 <div style="float:right">
		<span th:text="${#locale}"></span>
		<span th:text="#{lang.change}"></span>:
		<select id="locales" name="locales">
		    <option value=""></option>
		    <option value="en" th:text="#{lang.eng}" th:selected="${#strings.equals(#locale.language,'en')}"></option>
		    <option value="sr" th:text="#{lang.sr}" th:selected="${#strings.equals(#locale.language,'sr')}"></option>
		</select>
	</div>  
	</header>     
	 <body>
	 <div th:if="${session.korisnik.uloga.name() =='clan' }">
	 	<ul>     
	 		<li><a href="trening" th:text="#{links.home}"></a></li>  
	 		<li><a href="termin/sviTermini" th:text="#{links.termins}"></a></li>
	 		<li><a href="trening/sviTreninzi" th:text="#{links.trainings}"></a></li>
	 		<li><a href="listaZelja" th:text="#{links.wishes}"></a></li>
	 		<li><a href="korpa/dodatiTermini" th:text="#{links.shoppingChart}"></a></li> 
	 		<li><a href="clanskaKartica/clanskaKartaKorisnik" th:text="#{links.card}"></a></li>
	 		<li><a href="korisnici/podesavanja" th:text="#{links.settings}"></a></li>           
	 		<li><a href="korisnici/odjava" th:text="#{links.logOut}"></a></li>          
	 	</ul> 
	 </div>
	 <form method="get" action="termin/sviTermini">    
	 		<table>     
	 			<caption th:text="#{table.currentTermins}"></caption>      
	 			<tr>     
	 				<th>ID</th>     
	 				<th th:text="#{links.room}"></th>     
	 				<th th:text="#{table.traning}"></th>     
	 				<th th:text="#{table.date}"></th>     
	 				<th></th>     
	 			</tr>
	 			<tr>
					<th></th>
					<th></th>
					<th></th>
					<th>
						od:<input type="date" th:value="${param.datumOd?: '2022-01-01'}" name="datumOd"/><br/>
						do:<input type="date" th:value="${param.datumDo?: '2023-01-01'}" name="datumDo"/> 
					</th>
					<th><input type="submit" value="Pretraži"/></th>
				</tr>
	 			<tr th:each="tremin, status: ${slobodniTermini}" th:if="${tremin.korisnik == null }">  
	 			     <!-- Dodati uslov da se gleda da li je sala popunjena i takve informacije dodavati u tabelu -->   
	 			     
	 				<td th:text="${tremin.id}"></td>     
	 				<td th:text="${tremin.sala.oznaka}"></td>
	 				<td th:text="${tremin.trening.naziv}"></td>    
	 				<td th:text="${tremin.datumIVrijemeTreninga}"></td>
	 				<td><a th:href="|korpa/dodaj?id=${tremin.id}|" th:text="#{table.add}">Dodaj u korpu</a></td> 
	 			</tr>
	 		</table>
	 		</form>
	 </body>   
 </html>