<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">     
	<head>     
		<meta charset="UTF-8">     
		<base th:href="@{/}"><!-- popuni href atribut vrednosšću context path-a -->
		<script src="webjars/jquery/3.2.1/jquery.min.js"></script>
	<script src="webjars/jquery-ui/1.12.1/jquery-ui.min.js"></script>
	<script src="js/lokacijaJS.js"></script>
		<title>Početna</title>     
		<link rel="stylesheet"  type="text/css"  href="css/StiloviTabela.css"/>     
	 	<link rel="stylesheet"  type="text/css" href="css/StiloviHorizontalniMeni.css"/>   
	 </head>  
	 <header>
	 <div style="float:right">
		<span th:text="${#locale}"></span>
		<span th:text="#{lang.change}"></span>:
		<select id="locales" name="locales">
		    <option value=""></option>
		    <option value="en" th:text="#{lang.eng}" th:selected="${#strings.equals(#locale.language,'en')}"></option>
		    <option value="sr" th:text="#{lang.sr}" th:selected="${#strings.equals(#locale.language,'sr')}"></option>
		</select>
	</div>  
	</header> 
	 <body>     
	 <body> 
	 <p th:text="${session.korisnik.ime}">Ime Prezime</p>  
	
	  <div th:if="${session.korisnik.uloga.name() =='clan' }">
	 	<ul>     
	 		<li><a href="trening" th:text="#{links.home}"></a></li>  
	 		<li><a href="termin/sviTermini" th:text="#{links.termins}"></a></li>
	 		<li><a href="trening/sviTreninzi" th:text="#{links.trainings}"></a></li>
	 		<li><a href="listaZelja" th:text="#{links.wishes}"></a></li>
	 		<li><a href="korpa/dodatiTermini" th:text="#{links.shoppingChart}"></a></li> 
	 		<li><a href="clanskaKartica/clanskaKartaKorisnik" th:text="#{links.card}"></a></li>
	 		<li><a href="korisnici/podesavanja" th:text="#{links.settings}"></a></li>           
	 		<li><a href="korisnici/odjava" th:text="#{links.logOut}"></a></li>          
	 	</ul> 
	 </div> 
	 <form method="get">    
	 		<table>     
	 			<caption th:text="#{table.traning}"></caption>     
	 			<tr>     
	 				<th>ID</th>     
	 				<th th:text="#{table.name}"></th>     
	 				<th th:text="#{table.instructor}"></th>     
	 				<th th:text="#{table.description}"></th>    
	 				<th th:text="#{table.price}"></th> 
	 				<th th:text="#{table.trainingType}"></th> 
	 				<th th:text="#{table.level}"></th>
	 				<th th:text="#{table.duration}"></th> 
	 				<th th:text="#{table.rating}"></th>     
	 				<th></th>    
	 			</tr>
	 			<tr>
					<th></th>
					<th><input type="search" name="naziv" th:value="${param.naziv}?: null"/></th>
					<th><input type="search" name="trener" th:value="${param.trener}?: null"/></th>
					<th></th>
					
					<th>
						od:<input type="number" min="0" th:value="${param.cijenaOd}?: '0'" name="cijenaOd"/><br/>
						do:<input type="number" min="0" th:value="${param.cijenaDo}?: '5000'" name="cijenaDo"/>
					</th>
					<th>
						<select name="vrstaTreninga">
						<option value=""> Odaberi </option>
							<option value="grupni"> Grupni </option>
 							<option value="pojedinacni"> Pojedinacni </option>

 						</select>
					</th>
					<th>
						<select name="nivoTreninga">
						<option value=""> Odaberi </option>
							<option value="amaterski"> Amaterski </option>
 							<option value="srednji"> Srednji </option>
 							<option value="napedni"> Napredni </option>
						</select>
					</th>
					<th>
						od:<input type="number" min="0" th:value="${param.trajanjeOd}?: '0'" name="trajanjeOd"/><br/>
						do:<input type="number" min="0" th:value="${param.trajanjeDo}?: '120'" name="trajanjeDo"/>
					</th>
					<th>
						Sortiraj:
						<select name="sortiranjeOcjena">
						<option value=""> Odaberi </option>
							<option value="ASC"> Rastuće </option>
 							<option value="DESC"> Opadajuće </option>
						</select>
					</th>
					<th><input type="submit" value="Pretraži"/></th>
				</tr>
	 			<tr th:each="itTrening, status: ${sviTreninzi}">     
	 				<td class="broj" th:text="${(status.index + 1)+'.'}"></td>     
	 				<td><a th:href="|trening/details?id=${itTrening.id}|" th:text="${itTrening.naziv}"></a></td>    
	 				<td th:text="${itTrening.trener}"></td>    
	 				<td th:text="${itTrening.opis}"></td>    <!-- Dodati polje za tip treninga --> 
	 				<td th:text="${itTrening.cijena}"></td> 
	 				<td th:text="${itTrening.vrsta}"></td> 
	 				<td th:text="${itTrening.nivoTreninga}"></td> 
	 				 <td th:text="${itTrening.trajanjeTreninga}"></td> 
	 				 <td th:text="${itTrening.prosjecnaOcjena}"></td> 
	 				 <td><a th:href="|listaZelja/dodaj?id=${itTrening.id}|" >Dodaj u listu želja</a></td>
	 			</tr>
	 		</table>
	 		</form>
	 <div th:if="${session.korisnik.uloga.name() =='admin'}">     
	 		<ul>     
	 		<li><a href="trening/add">Dodaj trening</a></li>     
	 	</ul> 
	 </div>
	
	 </body>   
 </html>	