<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">     
	<head>     
		<meta charset="UTF-8">     
		<base th:href="@{/}"><!-- popuni href atribut vrednosšću context path-a -->
		<title>Svi termini</title>     
		<link rel="stylesheet"  type="text/css"  href="css/StiloviTabela.css"/>     
	 	<link rel="stylesheet"  type="text/css" href="css/StiloviHorizontalniMeni.css"/>   
	 </head>     
	 <body>
	 <div>
	 	<ul>     
	 		<li><a href="korisnici/odjava">Nazad</a></li>       
	 	</ul> 
	 </div> 
	 <form method="get">    
	 		<table>     
	 			<caption>Trenutno aktivni termini</caption>     
	 			<tr>     
	 				<th>ID</th>     
	 				<th>Sala</th>     
	 				<th>Trening</th>     
	 				<th>Datum</th>     
	 			</tr>
	 			
	 			<tr th:each="tremin, status: ${termini}">       <!-- Dodati uslov da se gleda da li je sala popunjena i takve informacije dodavati u tabelu -->   
	 				<td th:text="${tremin.id}"></td>     
	 				<td th:text="${tremin.sala.oznaka}"></td>
	 				<td th:text="${tremin.trening.naziv}"></td>    
	 				<td th:text="${tremin.datumIVrijemeTreninga}"></td>    <!-- Dodati polje za tip treninga --> 
	 			</tr>
	 		</table>
	 		</form>
	 </body>   
 </html>