<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">     
	<head>     
		<meta charset="UTF-8">     
		<base th:href="@{/}"><!-- popuni href atribut vrednosšću context path-a -->
		<title>Početna</title>     
		<link rel="stylesheet"  type="text/css"  href="css/StiloviTabela.css"/>     
	 	<link rel="stylesheet"  type="text/css" href="css/StiloviHorizontalniMeni.css"/>   
	 </head>     
	 <body>
	 <div>
	 	<ul>     
	 		<li><a href="korisnici/odjava">Nazad</a></li>       
	 	</ul> 
	 </div> 
	 <form method="get">    
	 		<table>     
	 			<caption>Trenutno aktivni treninzi</caption>     
	 			<tr>     
	 				<th>ID</th>     
	 				<th>Naziv</th>     
	 				<th>Trener</th>     
	 				<th>Opis</th>    
	 				<th>Cijena</th> 
	 				<th>Vrta treninga</th> 
	 				<th>Nivo treninga</th>
	 				<th>Trajanje Treninga</th> 
	 				<th>Prosječna ocjena</th>     
	 				<th></th>    
	 			</tr>
	 			<tr>
					<th></th>
					<th><input type="search" name="naziv" th:value="${param.naziv}?: null"/></th>
					<th><input type="search" name="trener" th:value="${param.trener}?: null"/></th>
					<th></th>
					
					<th>
						od:<input type="number" min="0" th:value="${param.cijenaOd}?: '0'" name="cijenaOd"/><br/>
						do:<input type="number" min="0" th:value="${param.cijenaDo}?: '5000'" name="cijenaDo"/>
					</th>
					<th>
						<select name="vrstaTreninga">
						<option value=""> Odaberi </option>
							<option value="grupni"> Grupni </option>
 							<option value="pojedinacni"> Pojedinacni </option>

 						</select>
					</th>
					<th>
						<select name="nivoTreninga">
						<option value=""> Odaberi </option>
							<option value="amaterski"> Amaterski </option>
 							<option value="srednji"> Srednji </option>
 							<option value="napedni"> Napredni </option>
						</select>
					</th>
					<th>
						od:<input type="number" min="0" th:value="${param.trajanjeOd}?: '0'" name="trajanjeOd"/><br/>
						do:<input type="number" min="0" th:value="${param.trajanjeDo}?: '120'" name="trajanjeDo"/>
					</th>
					<th>
						Sortiraj:
						<select name="sortiranjeOcjena">
						<option value=""> Odaberi </option>
							<option value="ASC"> Rastuće </option>
 							<option value="DESC"> Opadajuće </option>
						</select>
					</th>
					<th><input type="submit" value="Pretraži"/></th>
				</tr>
	 			<tr th:each="itTrening, status: ${treninzi}">        <!-- Dodati polje za tip treninga -->   
	 				<td class="broj" th:text="${(status.index + 1)+'.'}"></td>     
	 				<td><a th:href="|trening/detailsGost?id=${itTrening.id}|" th:text="${itTrening.naziv}"></a></td>    
	 				<td th:text="${itTrening.trener}"></td>    
	 				<td th:text="${itTrening.opis}"></td>    <!-- Dodati polje za tip treninga --> 
	 				<td th:text="${itTrening.cijena}"></td> 
	 				<td th:text="${itTrening.vrsta}"></td> 
	 				<td th:text="${itTrening.nivoTreninga}"></td> 
	 				 <td th:text="${itTrening.trajanjeTreninga}"></td> 
	 				 <td th:text="${itTrening.prosjecnaOcjena}"></td>   
   
	 			</tr>
	 		</table>
	 		</form>	
	 </body>   
 </html>