<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">     
	<head>     
		<meta charset="UTF-8">     
		<base th:href="@{/}"><!-- popuni href atribut vrednosšću context path-a -->
		<script src="webjars/jquery/3.2.1/jquery.min.js"></script>
	<script src="webjars/jquery-ui/1.12.1/jquery-ui.min.js"></script>
	<script src="js/lokacijaJS.js"></script>
		<title>Početna</title>     
		<link rel="stylesheet"  type="text/css"  href="css/StiloviTabela.css"/>     
	 	<link rel="stylesheet"  type="text/css" href="css/StiloviHorizontalniMeni.css"/>   
	 </head>  
	 <header>
	 <div style="float:right">
		<span th:text="${#locale}"></span>
		<span th:text="#{lang.change}"></span>:
		<select id="locales" name="locales">
		    <option value=""></option>
		    <option value="en" th:text="#{lang.eng}" th:selected="${#strings.equals(#locale.language,'en')}"></option>
		    <option value="sr" th:text="#{lang.sr}" th:selected="${#strings.equals(#locale.language,'sr')}"></option>
		</select>
	</div>  
	</header> 
	 <body> 
	 <p th:text="${session.korisnik.ime}">Ime Prezime</p>  
	 <div th:if="${session.korisnik.uloga.name() =='admin'}">
	 	<ul>     
	 		<li><a href="trening" th:text="#{links.home}"></a></li>     
	 		<li><a href="korisnici/sviKorisnici" th:text="#{links.users}"></a></li>
	 		<li><a href="termin/terminiAdmin" th:text="#{links.termins}"></a></li> 
	 		<li><a href="trening/treninziAdmin" th:text="#{links.trainings}"></a></li>
	 		<li><a href="tipoviTreninga" th:text="#{links.trainingType}"></a></li> 
	 		<li><a href="clanskaKartica/sveKartice" th:text="#{links.card}"></a></li>  
	 		<li><a href="sale" th:text="#{links.room}"></a></li>
	 		<li><a href="sviKomentariAdmin.html" th:text="#{links.comment}"></a></li>  
	 		<li><a href="specijalniDatum/dodavanje" th:text="#{links.specialDate}"></a></li> 
	 		<li><a href="izvjestaj" th:text="#{links.report}"></a></li>
	 		<li><a href="korisnici/odjava" th:text="#{links.logOut}"></a></li>     
	 	</ul> 
	 </div>
	 	  
	 
	 <table>     
	 			<caption  th:text="#{table.trainingTypes}"></caption>     
	 			<tr>     
	 				<th>ID</th>     
	 				<th th:text="#{table.name}">></th>     
	 				<th th:text="#{table.description}"></th>     
	 				<th th:text="#{table.active}"></th>    
	 				    
	 			</tr>
	 			
	 			<tr th:each="tip, status: ${tipoviTreninga}">     
	 				<td th:text="${tip.id}"></td>    
	 				<td th:text="${tip.imeTreninga}"></td>    
	 				<td th:text="${tip.opis}"></td>  
   					<td th:text="${tip.aktivan}"></td>   
	 			</tr>
	 		</table>
	 	<ul>     
	 		<li><a href="tipoviTreninga/dodajTip" th:text="#{add.type}"></a></li>     
	 	</ul>
	 </body>
</html>