<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">     
	<head>     
		<meta charset="UTF-8">     
		<base th:href="@{/}"><!-- popuni href atribut vrednosšću context path-a -->
		<script src="webjars/jquery/3.2.1/jquery.min.js"></script>
	<script src="webjars/jquery-ui/1.12.1/jquery-ui.min.js"></script>
	<script src="js/lokacijaJS.js"></script>
		<title>Početna</title>     
		<link rel="stylesheet"  type="text/css"  href="css/StiloviTabela.css"/>     
	 	<link rel="stylesheet"  type="text/css" href="css/StiloviHorizontalniMeni.css"/>   
	 </head>  
	 <header>
	 <div style="float:right">
		<span th:text="${#locale}"></span>
		<span th:text="#{lang.change}"></span>:
		<select id="locales" name="locales">
		    <option value=""></option>
		    <option value="en" th:text="#{lang.eng}" th:selected="${#strings.equals(#locale.language,'en')}"></option>
		    <option value="sr" th:text="#{lang.sr}" th:selected="${#strings.equals(#locale.language,'sr')}"></option>
		</select>
	</div>  
	</header> 
	 <body> 
	 <p th:text="${session.korisnik.ime}">Ime Prezime</p>  
	 <div th:if="${session.korisnik.uloga.name() =='admin'}">
	 	<ul>     
	 		<li><a href="trening" th:text="#{links.home}"></a></li>     
	 		<li><a href="korisnici/sviKorisnici" th:text="#{links.users}"></a></li>
	 		<li><a href="termin/terminiAdmin" th:text="#{links.termins}"></a></li> 
	 		<li><a href="trening/treninziAdmin" th:text="#{links.trainings}"></a></li>
	 		<li><a href="tipoviTreninga" th:text="#{links.trainingType}"></a></li> 
	 		<li><a href="clanskaKartica/sveKartice" th:text="#{links.card}"></a></li>  
	 		<li><a href="sale" th:text="#{links.room}">Sale</a></li>
	 		<li><a href="sviKomentariAdmin.html" th:text="#{links.comment}"></a></li>  
	 		<li><a href="specijalniDatum/dodavanje" th:text="#{links.specialDate}"></a></li> 
	 		<li><a href="izvjestaj" th:text="#{links.report}"></a></li>
	 		<li><a href="korisnici/odjava" th:text="#{links.logOut}"></a></li>     
	 	</ul> 
	 </div>
	 <div th:if="${session.korisnik.uloga.name() =='clan' }">
	 	<ul>     
	 		<li><a href="trening">Početna</a></li>  
	 		<li><a href="termin/sviTermini">Slobodni termini</a></li>
	 		<li><a href="trening/sviTreninzi">Svi treninzi</a></li>
	 		<li><a href="listaZelja">Lista želja</a></li>
	 		<li><a href="korpa/dodatiTermini">Korpa</a></li> 
	 		<li><a href="clanskaKartica/clanskaKartaKorisnik">Loyality kartica</a></li>
	 		<li><a href="korisnici/podesavanja">Podešavanja</a></li>           
	 		<li><a href="korisnici/odjava">Odjava</a></li>          
	 	</ul>  
	 </div>   
	<form method="post" action="trening/edit">
		<input type="hidden" name="id" th:value="${trening.id}"/><!-- popuni value atribut vrednošću -->
		<table class="forma">
			<caption>Trening</caption>
			<tr><th th:text="#{table.name}">Naziv:</th><td><input type="text" th:value="${trening.naziv}" name="naziv"/></td></tr>
			<tr><th th:text="#{table.instructor}">Trener:</th><td><input type="text" th:value="${trening.trener}" name="trener"/></td></tr>
			<tr><th th:text="#{table.description}">Opis:</th><td><input type="text" th:value="${trening.opis}" name="opis"/></td></tr>
			<tr><th th:text="#{table.imegeURL}">URL slike:</th><td><input type="text" th:value="${trening.slika}" name="slika"/></td></tr>
			<tr><th th:text="#{table.price}">Cijena:</th><td><input type="number" th:value="${trening.cijena}" name="cijena"/></td></tr>
			<tr><th th:text="#{table.type}">Vrsta:</th><td><input type="text" th:value="${trening.vrsta}" name="vrsta"/></td></tr>
			<tr><th th:text="#{table.level}">Nivo:</th><td><input type="text" th:value="${trening.nivoTreninga}" name="nivoTreninga"/></td></tr>
			<tr><th th:text="#{table.duration}">Trajanje treninga:</th><td><input type="number" th:value="${trening.trajanjeTreninga}" name="trajanjeTreninga"/></td></tr>
			<tr><th></th>
			<td>
			<div th:if="${session.korisnik.uloga.name() =='admin'}">     
	 		<input type="submit" value="Izjmeni"/>
	 </div>
			</td>

			</tr>
		</table>
	</form>
	
	 
	 <table>     
	 			<caption>Komentari</caption>     
	 			<tr>     
	 				<th>ID</th>     
	 				<th th:text="#{table.comment}"></th>     
	 				<th th:text="#{table.rating}"></th>     
	 				<th th:text="#{table.date}"> </th>   
	 				    
	 			</tr>
	 			
	 			<tr th:each="komentar, status: ${komentari}" th:if="${komentar.trening.id == trening.id and komentar.status.name() == 'odobren'}">     
	 				<td class="broj" th:text="${(status.index + 1)+'.'}"></td>     
	 				<td th:text="${komentar.tekst}"></td>    
	 				<td th:text="${komentar.ocjena}"></td>    <!-- Dodati polje za tip treninga --> 
	 				<td th:text="${komentar.datumPostavljanja}"></td>  
   
	 			</tr>
	 		</table>
	 		<div th:if="${session.korisnik.uloga.name() =='clan'}">     
	 		<ul>     
	 		<li><a th:href="|komentar?id=${trening.id}|" th:text="#{add.comment}">Dodaj komentar</a></li>     
	 		     
	 	</ul>
	 </div>
	 
	<img th:src="${trening.slika}"/>
</body>
</html>