<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}"><!-- popuni href atribut vrednosšću context path-a -->
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<title>Knjiga</title>
</head>
<body>
	
	 <div>
	 	<ul>       
	 		<li><a href="trening/sviTreninziGost">Nazad</a></li>       
	 	</ul> 
	 </div>   
	<form method="post" action="trening/edit">
		<input type="hidden" name="id" th:value="${trening.id}"/><!-- popuni value atribut vrednošću -->
		<table class="forma">
			<caption>Trening</caption>
			<tr><th>Naziv:</th><td><input type="text" th:value="${trening.naziv}" name="naziv"/></td></tr>
			<tr><th>Trener:</th><td><input type="text" th:value="${trening.trener}" name="trener"/></td></tr>
			<tr><th>Opis:</th><td><input type="text" th:value="${trening.opis}" name="opis"/></td></tr>
			<tr><th>URL slike:</th><td><input type="text" th:value="${trening.slika}" name="slika"/></td></tr>
			<tr><th>Cijena:</th><td><input type="number" th:value="${trening.cijena}" name="cijena"/></td></tr>
			<tr><th>Vrsta:</th><td><input type="text" th:value="${trening.vrsta}" name="vrsta"/></td></tr>
			<tr><th>Nivo:</th><td><input type="text" th:value="${trening.nivoTreninga}" name="nivoTreninga"/></td></tr>
			<tr><th>Trajanje treninga:</th><td><input type="number" th:value="${trening.trajanjeTreninga}" name="trajanjeTreninga"/></td></tr>
			
		</table>
	</form>
	<img th:src="${trening.slika}"/>
</body>
</html>