<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">     
	<head>     
		<meta charset="UTF-8">     
		<base th:href="@{/}"><!-- popuni href atribut vrednosšću context path-a -->
		<script src="webjars/jquery/3.2.1/jquery.min.js"></script>
	<script src="webjars/jquery-ui/1.12.1/jquery-ui.min.js"></script>
	<script src="js/lokacijaJS.js"></script>
		<title>Početna</title>     
		<link rel="stylesheet"  type="text/css"  href="css/StiloviTabela.css"/>     
	 	<link rel="stylesheet"  type="text/css" href="css/StiloviHorizontalniMeni.css"/>   
	 </head>  
	 <header>
	 <div style="float:right">
		<span th:text="${#locale}"></span>
		<span th:text="#{lang.change}"></span>:
		<select id="locales" name="locales">
		    <option value=""></option>
		    <option value="en" th:text="#{lang.eng}" th:selected="${#strings.equals(#locale.language,'en')}"></option>
		    <option value="sr" th:text="#{lang.sr}" th:selected="${#strings.equals(#locale.language,'sr')}"></option>
		</select>
	</div>  
	</header>
<body>
	<div th:if="${session.korisnik.uloga.name() =='clan' }">
	 	<ul>     
	 		<li><a href="trening" th:text="#{links.home}"></a></li>  
	 		<li><a href="termin/sviTermini" th:text="#{links.termins}"></a></li>
	 		<li><a href="trening/sviTreninzi" th:text="#{links.trainings}"></a></li>
	 		<li><a href="listaZelja" th:text="#{links.wishes}"></a></li>
	 		<li><a href="korpa/dodatiTermini" th:text="#{links.shoppingChart}"></a></li> 
	 		<li><a href="clanskaKartica/clanskaKartaKorisnik" th:text="#{links.card}"></a></li>
	 		<li><a href="korisnici/podesavanja" th:text="#{links.settings}"></a></li>           
	 		<li><a href="korisnici/odjava" th:text="#{links.logOut}"></a></li>          
	 	</ul> 
	 </div>    
	<form method="post" action="korisnici/podesavanjaFn">
		<input type="hidden" name="id" th:value="${session.korisnik.id}"/>
		<table class="forma">
			<caption>Info:</caption>
			<tr><th th:text="#{table.name}">Ime:</th><td><input type="text" th:value="${session.korisnik.ime}" name="ime" required/></td></tr>
			<tr><th th:text="#{table.surname}">Prezime:</th><td><input type="text" th:value="${session.korisnik.prezime}" name="prezime" required/></td></tr>
			<tr><th th:text="#{table.userName}">Korisnicko ime:</th><td><input type="text" th:value="${session.korisnik.korisnickoIme}" name="korisnickoIme" required/></td></tr>
			<tr><th th:text="#{table.email}">e-mail:</th><td><input type="text" th:value="${session.korisnik.email}" name="email" required/></td></tr>
			<tr><th th:text="#{table.address}">Adresa:</th><td><input type="text" th:value="${session.korisnik.adresa}" name="adresa" required/></td></tr>
			<tr><th th:text="#{table.mobileNumber}">Broj telefona:</th><td><input type="text" th:value="${session.korisnik.brojTelefona}" name="brojTelefona" required/></td></tr>
			<tr><th th:text="#{table.dateOfBirth}">Datum rodjenja:</th><td><input type="text" th:value="${session.korisnik.datumRodjenja}" name="datumRodjenja" required/></td></tr>
			<tr><th th:text="#{table.newPassword}">Nova lozinka:</th><td><input type="text" name="prvaLozinka"/></td></tr>
			<tr><th th:text="#{table.repeatPassword}">Ponovi lozinku:</th><td><input type="text" name="drugaLozinka"/></td></tr>
			<tr><th></th>
			<td>
	 		<input type="submit" value="Izmeni"/>
			</td>

			</tr>
		</table>
	</form>
</body>
</html>